main {
    height: 80vh;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
    margin: 0 !important;
}
    
a {
    text-decoration: none !important;
}

.rating span {
    margin: 0.1rem;
}

/* Carousel */

.carousel-item a {
    display: flex;
    padding: 54px 160px;
}

.carousel__image {
    height: 320px;
    margin-right: 48px;
}

.carousel__text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel__text {
    display: flex;
    color: white;
}

@media (max-width: 1000px) {
    .carousel-item a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousel__text__container {
        align-items: center;
    }

    .carousel__text {
        text-align: center;
        font-size: medium;
    }

    .carousel__image {
        height: 240px;
        margin-right: 0;
    }
}
